@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--blue{
		color: $blue !important;
	}
}


.c-bg{
	&--white{
		background: white !important;
	}
}


.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{

	}
}



.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
}










/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include fts(18,25.2);
		font-weight: 500;
		@include mq(){
			@include font-size(14);
			line-height: 1.6;
		}
	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		@include fts(40,56);
		font-weight: bold;
		margin-bottom: 23px;
		@include mq(){
			@include font-size(28);
			text-align: center;
		}
		span{
			display: inline-block;
			color: #4047E9;
			margin: 0 8px;
			@include mq(){
				margin: 0 4px;
			}
		}
	}

}

//btn
.c-btn{
	&__01{
		display: inline-block;
		color: white;
		@include font-size(18);
		line-height: 1.4;
		font-weight: 600;
		padding: 18px 32px;
		border-radius: 8px;
		position: relative;
		background: rgb(73,102,255);
		background: linear-gradient(180deg, rgba(73,102,255,1) 0%, rgba(64,71,233,1) 100%);
		@include smooth-transition;
		@include mq(){
			@include font-size(14);
			padding: 13px 15px;
		}
		&--arrow{
			padding: 10px 57px 12px 25px;
			&:after{
				content: "";
				width: 24px;
				height: 24px;
				background: url("../img/arrow-right.png")no-repeat;
				background-size: 100%;
				position: absolute;
				@include v-align;
				right: 25px;
				@include mq(){
					width: 19px;
					height: 19px;
				}
			}
		}
		&:hover{
			opacity: 1;
			background: #4047E9;
			background: linear-gradient(180deg, #4047E9 0%, #4047E9 100%);
		}
		&--default{
			background: none !important;
			border: 1px solid white !important;
			&:hover{
				opacity: 1;
				color: $blue;
				background: white !important;
			}
		}
	}
}


//fade up
.js-scrollin {
	opacity: 0;
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
	&.fade{
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}



