@use "vars" as *;

#header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid  #7288ff;
	z-index: 999;
	padding: 15px 0;
	@include smooth-transition;
	.inner{
		@include flex(between,center,wrap);
	}
	.header-logo{
		display: block;
		width: 227px;
		position: relative;
		img{
			@include smooth-transition;
		}
		.logo-02{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
	.header-nav{
		@include mq(tb-min){
			width: calc(100% - 227px);
			display: flex !important;
			align-items: center;
			justify-content: flex-end;
		}
		@include mq(tb){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			padding: 60px 20px 0;
			overflow-y: scroll;
			&.active{
				display: block;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			@include mq(tb){
				display: block;
			}
			&-item{
				padding: 11px 17px;
				position: relative;
				@include mq(tb){
					border-bottom: 1px solid #ccc;
				}
				a{
					display: block;
					@include font-size(18);
					font-weight: 500;
					color: white;
				}
			}
		}
		&__accounts{
			@include flex(end,center,center);
			width: 195px;
			margin-left: 30px;
			a{
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		&__btn{
			&-login{
				@include font-size(16);
				line-height: 1;
				font-weight: 600;
				background: white;
				color: #4F45F8;
				padding: 10px 20px;
				border-radius: 5px;
			}
			&-signup{
				@include font-size(16);
				line-height: 1;
				background: rgb(73,102,255);
				background: linear-gradient(180deg, rgba(73,102,255,1) 0%, rgba(64,71,233,1) 100%);
				color: white;
				padding: 10px 20px;
				border-radius: 5px;
			}
		}
	}
	.js-mobile {
		width: 26px;
		height: 30px;
		position: absolute;
		right: 20px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(tb){
			display: block;
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 100%;
			height: 2px;
			background: #333;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #333;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -6px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -6px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: #333;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
	@include mq(tb-min){
		&.white{
			position: fixed;
			background: white;
			border-bottom: 1px solid rgba(#7288ff,0.2);
			.header-logo{
				.logo-01{
					opacity: 0;
					visibility: hidden;
				}
				.logo-02{
					opacity: 1;
					visibility: visible;
				}
			}
			.header-nav__menu{
				li{
					a{
						color: #0F1A2A;
					}
				}
			}
			.header-nav__btn-login{
				background: rgba(#4F45F8,0.1);
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}